<main class="contenedor-mapa">
  <header class="cabecera-mapa">
    <h2>Ruta del Arquitecto</h2>
    <div class="fuego-progreso">🔥 Mi Progreso</div>
  </header>

  <section class="ruta-vertical">
    @for (nivel of niveles; track nivel.id; let esElUltimo = $last) {
      <article class="tarjeta-mision" [class.mision-bloqueada]="nivel.estado === 'BLOQUEADO'">
        <div class="cartel-titulo">
          <h3>{{ nivel.titulo }}</h3>
          <span class="estado-texto">{{ nivel.estado }}</span>
        </div>

        <button
          class="boton-accion-3d"
          [class.boton-completado]="nivel.estado === 'COMPLETADO'"
          [class.boton-activo]="nivel.estado === 'ACTIVO'"
          (click)="entrarAlNivel(nivel)"
        >
          <span class="icono-gigante">{{ nivel.icono }}</span>
        </button>

        @if (esElUltimo === false) {
          <div class="puente-conector" [class.puente-dorado]="nivel.estado === 'COMPLETADO'"></div>
        }
      </article>
    }
  </section>
</main>
