<main class="contenedor-principal">
  <h1>Motor de Decisiones Vivo</h1>
  @if (leccionActual) {
    <section class="tarjeta-leccion">
      <h2>{{ leccionActual.titulo }}</h2>
      <p class="problema"><strong>El Problema:</strong>{{ leccionActual.problemaHook }}</p>
      <p class="metafora"><strong>Metafora:</strong>{{ leccionActual.metafora }}</p>

      <div class="bloque-codigo">
        <pre><code>{{leccionActual.pseudocodigo}}</code></pre>
      </div>

      <div class="area-opciones">
        <h3>¿Qué patrón elegirias?</h3>
        @for (opcion of leccionActual.opciones; track opcion.id) {
          <button class="btn-opcion" (click)="evaluarOpcion(opcion.id)">
            {{ opcion.textoOpcion }}
          </button>
        }
      </div>
      @if (mostrarFeedBack == true) {
        <div>
          <h3>{{ esCorrecto ? '¡Excelente decision!' : 'Decision incorrecta' }}</h3>
          <p>{{ mensajeFeedback }}</p>
          @if (esCorrecto) {
            <p class="puntos">
              Has ganado <strong> + {{ puntosGanados }} XP.</strong>
            </p>
          }
          <button class="btn-cerrar" (click)="mostrarFeedBack = false">Entendido</button>
        </div>
      }
    </section>
  } @else {
    <div class="cargando">
      <p>Consultando el cerebro de Spring Boot... ⏳</p>
    </div>
  }
</main>
<nav
  style="
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #f4f4f4;
    align-items: center;
  "
>
  <div>
    <strong> Mi plataforma Gamificada </strong>
  </div>

  <div>
    @if (authService.tokenActual()) {
      <span style="margin-right: 15px"> Bienvenido Arquitecto</span>
      <button (click)="authService.cerrarSesion()">Cerrar Sesion</button>
    } @else {
      <span style="margin-right: 15px">Aun no estas conectado.</span>
      <a routerLink="/login">Iniciar Sesion</a>
    }
  </div>
</nav>
<router-outlet></router-outlet>
